body {
    background-color: #f4f6f8;
}

h1 {
    color: #2c3e50;
    text-align: center;
    letter-spacing: 2px;
}

h2 {
    color: #1a4fa3;
    text-align: center;
    font-weight: normal;
}

h3 {
    color: #1a4fa3;
    margin-top: 30px;
}

th {
    background-color: #e6f0ff;
    color: #000000;
}


